<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">
            <img src="{{ MEDIA_URL }}/default/logo.png" alt="Logo" height="30">
            IMS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if page == 'home' %}active{% endif %}" href="{{ url_for('home_page') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'category' %}active{% endif %}" href="{{ url_for('category') }}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'products' %}active{% endif %}" href="{{ url_for('products_page') }}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'inventory' %}active{% endif %}" href="{{ url_for('inventory') }}">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'sales' %}active{% endif %}" href="{{ url_for('sales') }}">Sales</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
